h3 {
    margin: 3em 0 1em 0;
}

#process_status {
    margin: 1em 0 0 0;
    font-size: small;
}

#result_images {
    display: flex;
    flex-direction: column;
}

#result_images > canvas {
    width: fit-content;
}

#result_images > canvas:not(canvas:first-child) {
    margin-top: -2px;
}